<div class="sh_home" id="dataCon">

</div>
<div class="sh_home2" id="dataCon2" style="display : block;position:fixed;
        z-index: 1300;border-radius: 5px;
        top:-9999px;padding:10px;background-color: #fff;border: 1px solid #ccc;
        -moz-box-shadow: 8px 10px 5px #888888; 
        box-shadow: 8px 10px 5px #888888;">
</div>
<div id="box" style="background: rgba(0,0,0,0.2);z-index: 1301;display: none; position: absolute;top:0;left: 0;right: 0;bottom: 0;">
  <div class="sh_home2" id="dataCon3" style="display : block;
         z-index: 1300;border-radius: 5px;padding:10px;background-color: #fff;border: 1px solid #ccc;
         -moz-box-shadow: 8px 10px 5px #888888; 
         margin: 100px auto;
         box-shadow: 8px 10px 5px #888888;height:150px">

  </div>
</div>
