<div class="sh_home" style="height:115%;" id="dataCon">
  <div>
    <button class="el-botton" onclick="submit()">保存</button>
  </div>
  <div id="sample">
    <div style="width: 100%; display: flex; justify-content: center">
      <div id="myPaletteDiv" style="width: 135px; margin-right: 2px; background-color: whitesmoke; border: solid 1px #999"></div>
      <div id="myDiagramDiv" style="flex-grow: 1; height: 620px; border: solid 1px #999"></div>
      <div id="myProperty" style="width:250px;display: none; overflow: hidden;overflow-y: scroll; z-index: 999; height: 622px;background: #F5F5F5;">
        

        <!-- <div>
          <span class="el-span">Key: </span>
          <input type="text" disabled name="key" style="background-color: #f5f5f5" class="el-input">
        </div> 
        <div>
          <span class="el-span" style="vertical-align: top;">前置语义: </span>
          <textarea rows="8" class="el-blur" style="resize: none"></textarea>
        </div> 
         <select   multiple="multiple" placeholder="Hello im from placeholder" onchange="changeSelect($(this).val())" class="testsel">
            <option value="saab">Saab</option>
            <option selected value="mercedes">Mercedes</option>
            <option selected value="audi">Audi</option>
            <option value="bmw">BMW</option>
            <option value="porsche">Porche</option>
        </select> -->


      </div>
    </div>

    <!-- 调试步骤 -->
    <!-- 1、先打开这里 2、submit函数打开赋值 3、Load可以渲染预览 -->
    <!-- <div>
     <button id="SaveButton" onclick="save()">Save</button>
      <button onclick="load1()">Load</button>
      以JSON格式保存的图表模型：
    </div>
  
    <textarea id="mySavedModel" style="width:100%;height:300px">
        { "class": "go.GraphLinksModel", "linkFromPortIdProperty": "fromPort", "linkToPortIdProperty": "toPort", "nodeDataArray":
      [ ], "linkDataArray": [ ]}
    </textarea> -->

  </div>
</div>
</div>
