{% extends 'base.html' %}
{% load static %}
{% block title %} <title>采购入库</title>{% endblock %}
{% block index %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="container">
            <div class="row">
                <div class="page-header ">
                    <h3 class="page-header"><a class="fa fa-home" href="{% url 'index' %}"> 主页</a> >> <a
                            class="fa fa-suitcase" href="{% url 'stock' %}"> 库存信息 </a> >> 采购入库
                    </h3>
                    <div class="col-md-6 col-md-offset-3">
                        <br>
                        <br>
                        <br>
                        <div class="panel panel-primary">

                            <div class="panel-heading">
                                <h3 class="panel-title">采购入库</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" action="{% url 'comp_stock_add' %}"
                                      method="post">    {% csrf_token %}

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">电脑型号</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="name1">
                                                {% for brand in brands %}
                                                    <option value="{{ brand.brand_name }}">{{ brand.brand_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">硬盘组合</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="name2">
                                                {% for disk in disks %}
                                                    <option value="{{ disk.disk_name }}">{{ disk.disk_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">内存组合</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="name3">
                                                <option value="4G">4G</option>
                                                <option value="6G">6G</option>
                                                <option value="8G">8G</option>
                                                <option value="16G">16G</option>
                                                <option value="32G">32G</option>
                                                <option value="64G">64G</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">CPU</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="name4">
                                                {% for cpu in cpus %}
                                                    <option value="{{ cpu.cpu_name }}">{{ cpu.cpu_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">屏幕尺寸</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="name5">
                                                <option value="1">12.5寸</option>
                                                <option value="2">13寸</option>
                                                <option value="3">14寸</option>
                                                <option value="4">15.6寸</option>
                                                <option value="5">22寸</option>
                                                <option value="6">24寸</option>
                                                <option value="7">32寸</option>
                                                <option value="othe">其他</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Mac地址</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="inputEmail3" name="name6"
                                                   placeholder="Mac地址" value="">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">备注</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="inputEmail3" name="name7"
                                                   placeholder="备注" value="新采购">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn bg-primary fa fa-check-square"> 提交</button>
                                            <a href="{% url 'stock' %}"
                                               class="btn  btn-danger pull-right fa fa-reply-all"> 返回</a>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}